<!DOCTYPE html>
<html style="font-family: 'Arial', sans-serif;">
    <head>
        <title>Création de votre profil LB & Pool</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table cellspacing="0" cellpadding="10" border="0" style="width:600px; background-color: white">
            <tr>
                <td align="center">
                    <img src="http://lbp/public/logo_lbpool.png" width="600">
                </td>
            </tr>
            <tr>
                <td  align="center">
                    <h1>Création de votre profil LB & Pool</h1>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <p>
                        Vous recevez ce message car une licence LB & Pool vient d'être activée pour vous.<br/><br/>
                        Téléchargez l'application LB & Pool pour votre plateforme, puis renseignez la clef d'activation ci-dessous afin de pouvoir 
                        commencer à utiliser votre license.
                    </p>
                </td>
            </tr>
            <tr>
                <td align="center" style="background-color: lightgrey;">
                    <p style="padding: 10px; background-color: white; border-radius: 6px; font-size: 1.1em;">
                       %token%
                    </p>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <br>
                    <h3 style="color: rgb(227, 0, 79);">Important</h3>
                    <p style="border: 2px solid rgb(227, 0, 79); border-radius: 6px; padding: 10px;">
                        Ce lien a été généré automatiquement.<br/><br/>
                        Il ne sert qu'à la première connexion, au cours de laquelle vous allez définir votre propre mot de passe pour les connexion ultérieures.
                    </p>
                </td>
            </tr>
        </table>
    </body>
</html>